torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
-f https://download.pytorch.org/whl/torch_stable.html
pandas 
pyyaml
efficientnet_pytorch
scikit-learn
seaborn
tqdm
rich 
tensorboard
neptune-client
sphinx 
sphinx_rtd_theme